h1{
    text-align: center;
    font-size:  70px;
    color: darkblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img{
    width: 400px;
    height: 600px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

label{
    font-size: 20px;
    color: darkblue;
    margin-bottom: 10px;
}

input{
    height: 30px;
    width: 200px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.boton:hover{
    background-color: chartreuse;
    cursor: pointer;
}